<% event_days=Event.all %>
<% compte = 0%>
<% if !event_days==nil?%>
                    <% event_days.each do |event_day| %>
                    <% if (event_day.date_debut >=Date.today) and (event_day.date_debut <= event_day.date_debut.next.at_end_of_week)%>
                          <% lieu=Lieu.find_by_id(event_day.lieu_id)%>
                           <%compte +=1%>
                          <% structure=Structure.find_by_id(event_day.structure_id)%>
            <table style="margin-bottom:10px;">
              <tr >
                <td><%= image_tag(event_day.picture_url, :width => 240, :height => 120) if event_day.picture.present? %></td>
                <div class="item" style="">


                </div>   <td>
                <table class="" style="">
                  <% modal="myModal"+event_day.id.to_s%>
                  <% hmodal="#"+modal %>
                  <tr>
                    <td><span style="font-size:1.3em;"> Le :  <%= event_day.date_debut.strftime("%d-%m-%Y") %></span></td>
                  </tr>
                  <tr>
                    <td><span style="font-size:1.3em;">Lieu: <%= lieu.nomLieu%></span></td>
                  </tr>
                  <tr>
                    <td><span style="font-size:1.2em;"><%= event_day.descEvent %></span></td>
                  </tr>


                  <tr>

                    <td><span class="btn btn-mini btn-primary" data-toggle="modal" href=<%= hmodal%>><i class="icon-plus-sign icon-white"></i> <a>Voir l'événement</a> </span> <%= social_share_button_tag(event_day.descEvent, :url => "http://www.facebook.com") %></td>
                  </tr>


                </table>
              </td>
              </tr>
            </table>

                       <hr/>

                      <div id=<%=modal%> class="modal hide fade">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h3>Details de l'événement</h3>
                      </div>
                      <div class="modal-body">

                                    <table class="table">
                                      <tr>
                                  <td><%= image_tag(event_day.picture_url, :width => 240, :height => 120) if event_day.picture.present? %></td>
                                  </tr>
                                      <tr>
                                          <td><%= event_day.titleEvent %></td>
                                      </tr>
                                      <tr>
                                          <td><%= event_day.descEvent %></td>
                                      </tr>
                                      <tr>
                                          <td><span style="font-size:1.2em">Date: </span> <%= event_day.date_debut %></td>
                                      </tr>
                                      <tr>
                                          <td><span style="font-size:1.2em">Heure: </span><%= event_day.heure_debut.strftime("%Ih : %M")%></td>
                                      </tr>
                                      <tr>
                                      <td><span style="font-size:1.2em">Lieu: </span><%= lieu.nomLieu%></td>
                                      </tr>

                                      <tr>
                     <div class="item" style="">
                    <%=link_to image_tag("colliers.jpg"), root_path, :title => 'dakarParties'%>

                  </div>                     <td><span style="font-size:1.2em">Heure: </span><%= event_day.heure_fin.strftime("%Ih : %M") %></td>
                                      </tr>
                                      <tr>
                                          <td><span style="font-size:1.2em">nomde de personne: </span><%= event_day.nombrePersonne %></td>
                                      </tr>

                                </table>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>

                      </div>
                    </div>
                      <% end %>
                      <% end %>
                    <% if compte ==0 %>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                          <div class="box">
                            <div class="icon">
                              <div class="image"><i class="icon icon-hand-down"></i></div>
                              <div class="info">
                                <h3 class="title">Pas d'événement aujourd'hui</h3>
                                <p> Hello! Nous avons pas de programme pour aujourd'hui</p>
                                <div class="more">


                                </div>
                              </div>
                            </div>
                            <div class="space"></div>
                          </div>
                        </div>
                    <% end %>


                    <% end %>
