<div class="span3" style="width:22%" >


  <% if user_signed_in? %>
      <% user= current_user%>


      <ul class="nav nav-pills nav-stacked" style="text-align: justify">
        <li class="active">
          <a href="#" style="text-align:center"><i class="icon-user icon-white"></i> Bienvenue <%= current_user.login %></a>
        </li>
        <li class=""><%= link_to raw(" <center> <i class='icon-eye-open icon-black' style=''> Mon profil</i> </center>"), user, :class => 'well' %></li>
        <li class=""><%= link_to raw(" <center> <i class='icon-pencil icon-black' style=''> Modifier profil</i> </center>"),edit_user_path(user), :class => 'well' %></li>

        <li ><%= link_to raw(" <center> <i class='icon-off icon-black' style=''> Deconnexion</i></center>"), destroy_user_session_path, :method => :delete, :class => 'btn btn-large', :notice => 'nice' %></li>

      </ul>

          <div class="clearfix"></div>




  <% else %>
         <ul class="nav nav-pills nav-stacked " style="text-align: justify;padding:10px">
          <li class="active">
            <a href="#" style="text-align:center"><i class="icon-user icon-white"></i> Espace membre</a>
          </li>
          <li class=""><%= link_to raw(" <center> <i class='icon-hand-right icon-black' style=''> Se connecter</i> </center>"), new_user_session_path, :class => 'well' %>
          </li>
          <li class=""> <%= link_to raw("<center> <i class='icon-plus icon-black' style=''> S'inscrire</i> </center>"), new_user_registration_path, :class => 'well'%></li>
        </ul>

  <% end %>


               <% event_days=Event.all(:limit => 3)%>
                    <% if !event_days.nil?%>
                    <% event_days.each do |event_day| %>

                          <% lieu=Lieu.find_by_id(event_day.lieu_id)%>
                          <% structure=Structure.find_by_id(event_day.structure_id)%>

            <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
              <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                <li class="active" style="">
                  <%= image_tag(event_day.picture_url, :width => 200, :height => 100) if event_day.picture.present? %>
                  <%=link_to event_day.titleEvent, root_path%>
                </li>
                <li  >
                  <span style=" color:#000;"></span><i class="icon-calendar"></i>  <%= event_day.date_debut.strftime("%d-%m-%Y")%>
                </li>
                <li  >
                  <span style=" color:#000;"></span> <i class="icon-time"></i> <%= event_day.heure_debut.strftime("%H")%>H : <%= event_day.heure_debut.strftime("%M")%>
                </li>
                <li  >
                  <span style=" color:#000;"></span> <i class="icon-map-marker"></i>  <%= lieu.nomLieu%>
                </li>




              </ul>

            </div>

                <% end %>
                <% end %>



              <ul class="nav nav-pills nav-stacked" style="text-align: justify">
                      <li class="active">
                        <a href="#">Actualités  </a>
                      </li>
              </ul>
                    <% actus=Actualite.all(:limit => 3)%>
                    <% if !actus==nil?%>
                    <% actus.each do |actu| %>

              <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
                  <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                    <li class="active" style="">
                        <%=link_to actu.titleActu, actu%>
                        <%= image_tag(actu.picture_url, :width => 240, :height => 120) if actu.picture.present? %>

                    </li>

                    <li class="active" style="">
                        <%= actu.contenu[0..30].gsub(/\s\w+\s*$/, '...')%>


                    </li>



                  </ul>

                </div>


                <% end %>
                <% end %>










            </div><!--/span-->
