                             <!-- Carousel-->

      <div class="row-fluid" style="">
 
            <div class="span9" style="width:73%">
              <% if flash[:notice] and  (user_signed_in?) %>
                <div class="alert alert-success">
                  <a class="close" data-dismiss="alert">×</a>
                  <%= raw flash[:notice] %>
                </div>

              <% end %>
              <% if flash[:alert] %>
                <div class="alert alert-success">
                  <a class="close" data-dismiss="alert">×</a>
                  <%= raw flash[:alert] %>
                </div>

              <% end %>

              <div id="myCarousel" class=" " style="border:1px solid #044d47; margin-bottom: 5px">
                <div class="carousel-inner">
                  <div class="item active" style="">
                     <%=link_to image_tag("slide4.jpg"), root_path, :title => 'dakarParties'%>

                  </div>


                </div>

              </div>

              <div class="tabbable" style="margin-bottom: 18px;">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab" style="background-color:#15928e;font-size:2em ;color:#fff">Aujourd'hui!</a></li>
                  <li class=""><a href="#tab2" data-toggle="tab" style="background-color:#148581;font-size:1.5em ;color:#fff">Cette semaine!</a></li>
                  <li class=""><a href="#tab3" data-toggle="tab" style="background-color:#0d5a56;font-size:1.2em ;color:#fff">Ce mois!</a></li>
                </ul>
                <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                  <div class="tab-pane active" id="tab1">



                    <%= render :partial => 'home/events_jour' %>


                  </div>
                  <div class="tab-pane" id="tab2">


                    <%= render :partial => 'home/events_week' %>

                  </div>

                  <div class="tab-pane" id="tab3">

                    <%= render :partial => 'home/events_mois' %>

                  </div>



                </div>

                <div>
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab" style="background-color:#15928e;font-size:2em ;color:#fff">Actualités</a></li>
                  </ul>

                  <%= render :partial => 'home/actu' %>
                </div>
              </div>

            </div>


            <%= render :partial => 'home/nav_actu' %>
    </div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.nav-tabs li').first().addClass('active');
    $('.tab-pane').first().addClass('active');
  })
</script>
