<div class="row-fluid" style="">
<div class="span9" style="width:73%">
<h2>Se connecter</h2>
<div class="well " style="background-color:#931869;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password %></div><br />

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Se connecter", :class => ' btn btn-primary btn-large' %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>	
</div>
<div class="span3" style="width:22%" >
              <ul class="nav nav-pills nav-stacked" style="text-align: justify">
                      <li class="active">
                        <a href="#">Nous suivre sur Facebook</a>
                      </li>
              </ul>
              <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
                  <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                    <li class="active" style="">
                        <%=image_tag("festiv2.jpg")%>
                        <%=link_to 'festival curturel 2012', root_path%>
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Date: </span>le 22 mars 2013
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Heure debut: </span>22H GMT
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Lieu: </span>Grand theatre 
                    </li>
                    
                    
                    
                                                          
                  </ul>

                </div>
                <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
                  <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                    
                    <li class="active" style="">
                        <%=image_tag("dpt.jpg")%>
                        <%=link_to 'Dakar Games Tour', root_path%>
                    </li> 
                    <li class="active" >
                        <span style=" color:#000;">Date: </span>le 24 mars
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Heure debut: </span> 19H GMT
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Lieu: </span>terou bi
                    </li>
                    
                    
                                                          
                  </ul>

                </div>
                <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
                  <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                    
                  
                    <li class="active" style="">
                        <%=image_tag("salam.jpg")%>
                        <%=link_to 'Soirée Salam Diallo', root_path%>
                    </li> 
                    <li class="active" >
                        <span style=" color:#000;">Date: </span>le 04 Avril
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Heure debut: </span> 23H GMT
                    </li>
                    <li class="active" >
                        <span style=" color:#000;">Lieu: </span>Nirvana
                    </li>
                    
                                                          
                  </ul>

                </div>
                <div  class="well sidebar-nav" style="background-color:#931869; width:100%;color:#fff;border:3px solid #044d47" >
                  <ul class="nav nav-pills nav-stacked" style="text-align: justify; padding:10px">
                    
                    <li class="active" style="">
                        <%=image_tag("festiv2.jpg")%>
                        <%=link_to 'festival culturel 2012', root_path%>
                    </li> 
                    <li class="active" >
                        <span style=" ">Date:</span>
                    </li>
                    <li class="active" >
                        <span style="">Heure:</span>
                    </li>
                    <li class="active" >
                        <span style="">Lieu:</span>
                    </li>
                                                          
                  </ul>

                </div>
                
              
            </div><!--/span-->
</div>